button {
  padding: 10px 30px;
  font: 20px "Helvetica Neue", Helvetica, Arial;
  margin: 5px;
  cursor: pointer;
  border: none;
  transition: all 1000ms ease-in-out;
}

#btn-pause {
  background-color: rgb(182, 181, 181);
  color: black;
}
#btn-play {
  background-color: rgb(76, 76, 245);
  color: white;
}
button:hover {
  filter: brightness(120%);
}
